.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
env/
__pycache__/
*.pyc
.env
.classpath
.project
java/.gradle/*
java/bin/*
java/build/*
java/gradle/*
java/.settings
gradlew*
php/vendor/
installer
composer*
bin/
obj/